body{
    font-family: 'Arial', sans-serif;  
    text-align: center;
}
header {
    background-color:
     blueviolet;    
    padding: 1em;
}

ul {
    list-style-type: 
    none; 
    padding-left:0;
} 

ul li{
    display: inline;
}
footer {
    background-color:
     fuchsia;
    padding: 1em;
}
